<!-- <p>pets parent works!</p>
<p>{{pets[0].name}} lkdflks</p> 
<app-edit-pet-button 
  *ngFor="let pet of pets" 
  [pet]="pet">
</app-edit-pet-button> -->
<h1 class="title">Pets</h1>
<button type="button" class="btn btn-primary" routerLink="addPet" >Add pet</button>
<table class="table table-striped" *ngIf="hasPets()">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="sortByName()">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Type</th>
      <th scope="col">Fur color</th>
      <th scope="col">Country</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody  *ngFor="let pet of pets">
    <tr>
  <td scope="row">{{pet.id}}</td>
  <td>{{pet.name}}</td>
  <td>{{pet.idCode}}</td>
  <td>{{pet.type}}</td>
  <td>{{pet.furColor}}</td>
  <td>{{pet.country}}</td>
  <td>
    <app-edit-pet-button [pet]="pet" (editPet)="onEditPet($event)"></app-edit-pet-button>
  </td>
</tr>
  </tbody>
</table>
